NODE_ENV=development
PORT=8000
HOST=localhost
CORS_ORIGIN=http://localhost:3000

AUTH_SERVICE_URL=http://localhost:8001
PROJECT_SERVICE_URL=http://localhost:8002
FILE_SERVICE_URL=http://localhost:8003
AI_SERVICE_URL=http://localhost:8004
TERMINAL_SERVICE_URL=http://localhost:8005
PAYMENT_SERVICE_URL=http://localhost:8006