NODE_ENV="development"
HOST="localhost"
PORT="8004"

MONGODB_URL=add your mongodb connection string here
FRONTEND_URL="http://localhost:5173"
AUTH_SERVICE_URL="http://localhost:8001"
FILE_SERVICE_URL="http://localhost:8003"

OPENROUTER_API_KEY=add your openrouter api key here
