NODE_ENV="development"
HOST="localhost"
PORT="8006"

MONGODB_URL=add your mongodb connection string here
REDIS_URL="redis://localhost:6379"
AUTH_SERVICE_URL="http://localhost:8001"

RAZORPAY_KEY_ID=add your razor pay key id here
RAZORPAY_KEY_SECRET=add your razor pay key secret here