NODE_ENV=development
HOST=localhost
PORT=8001

MONGODB_URL=
REDIS_URL=redis://localhost:6379

FIREBASE_PROJECT_ID=add your firebase project id here
FIREBASE_CLIENT_EMAIL=add your firebase client email id here
FIREBASE_PRIVATE_KEY=add your firebase private key id here